pkgbase = ffmpeg-full-git
	pkgdesc = Complete solution to record, convert and stream audio and video (all possible features including libfdk-aac; git version)
	pkgver = 8.1.r121199.g5cb6d2221a
	pkgrel = 1
	url = https://www.ffmpeg.org/
	arch = x86_64
	license = LicenseRef-nonfree-and-unredistributable
	makedepends = amf-headers
	makedepends = git
	makedepends = gmp
	makedepends = libgl
	makedepends = libomxil-bellagio
	makedepends = lv2
	makedepends = patchutils
	makedepends = clang
	makedepends = cuda
	makedepends = cmake
	makedepends = nasm
	makedepends = ffnvcodec-headers
	makedepends = opencl-headers
	makedepends = vulkan-headers
	depends = alsa-lib
	depends = aom
	depends = aribb24
	depends = avisynthplus
	depends = bzip2
	depends = cairo
	depends = celt
	depends = codec2
	depends = dav1d
	depends = flite1
	depends = fontconfig
	depends = freetype2
	depends = frei0r-plugins
	depends = fribidi
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = glslang
	depends = gnutls
	depends = gsm
	depends = harfbuzz
	depends = jack
	depends = kvazaar
	depends = ladspa
	depends = lame
	depends = lcevcdec
	depends = lcms2
	depends = lensfun-git
	depends = libass
	depends = libavc1394
	depends = libbluray
	depends = libbs2b
	depends = libcaca
	depends = libcdio-paranoia
	depends = libdc1394
	depends = libdrm
	depends = libdvdnav
	depends = libdvdread
	depends = libfdk-aac
	depends = libgcrypt
	depends = libgme
	depends = libiec61883
	depends = libilbc
	depends = libjxl
	depends = liblc3
	depends = libmodplug
	depends = libmysofa
	depends = libopenmpt
	depends = libplacebo
	depends = libpulse
	depends = librabbitmq-c
	depends = libraw1394
	depends = librist
	depends = librsvg
	depends = libsoxr
	depends = libssh
	depends = libtheora
	depends = libva
	depends = libvdpau
	depends = libvorbis
	depends = libvpl
	depends = libvpx
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = libxml2
	depends = libxv
	depends = libwebp
	depends = lilv
	depends = mpeghdec
	depends = ocl-icd
	depends = openal
	depends = openapv
	depends = opencore-amr
	depends = opencv2
	depends = openh264
	depends = openjpeg2
	depends = openvino
	depends = opus
	depends = qrencode
	depends = quirc
	depends = rav1e
	depends = rtmpdump
	depends = rubberband
	depends = sdl2
	depends = smbclient
	depends = snappy
	depends = sndio
	depends = speex
	depends = srt
	depends = svt-av1
	depends = svt-hevc
	depends = svt-vp9
	depends = tesseract
	depends = twolame
	depends = v4l-utils
	depends = vapoursynth
	depends = vid.stab
	depends = vmaf
	depends = vulkan-icd-loader
	depends = x264
	depends = x265
	depends = xvidcore
	depends = xz
	depends = zeromq
	depends = zimg
	depends = zlib
	depends = zvbi
	depends = chromaprint-fftw
	depends = davs2
	depends = libaribcaption
	depends = libklvanc
	depends = rockchip-mpp
	depends = shine
	depends = uavs3d-git
	depends = vo-amrwbenc
	depends = vvenc
	depends = xavs
	depends = xavs2
	depends = xevd
	depends = xeve
	optdepends = nvidia-utils: for NVIDIA CUVID/NVDEC/NVENC support
	optdepends = vpl-runtime: for Intel Quick Sync Video
	provides = ffmpeg
	provides = ffmpeg-full
	provides = ffmpeg-git
	provides = libavcodec.so
	provides = libavdevice.so
	provides = libavfilter.so
	provides = libavformat.so
	provides = libavutil.so
	provides = libswscale.so
	provides = libswresample.so
	conflicts = ffmpeg
	source = git+https://git.ffmpeg.org/ffmpeg.git
	source = https://github.com/obsproject/obs-studio/archive/31.1.2/obs-studio-31.1.2.tar.gz
	source = https://github.com/ggml-org/whisper.cpp/archive/v1.7.6/whisper.cpp-1.7.6.tar.gz
	source = 010-ffmpeg-add-svt-hevc.patch
	source = 020-ffmpeg-add-svt-hevc-docs-ged80959.patch::https://raw.githubusercontent.com/OpenVisualCloud/SVT-HEVC/ed80959ebb5586aa7763c91a397d44be1798587c/ffmpeg_plugin/0002-doc-Add-libsvt_hevc-encoder-docs.patch
	source = 030-ffmpeg-add-svt-vp9.patch
	source = 040-ffmpeg-add-av_stream_get_first_dts-for-chromium.patch
	source = 050-ffmpeg-fix-cuda-nvcc-with-gcc14.patch
	source = 060-ffmpeg-whisper.cpp-fix-pkgconfig.patch
	source = LICENSE
	sha256sums = SKIP
	sha256sums = 11d7b5fbb234e926b04b921203c152517a928032e757689d964c5f9a0a9a4157
	sha256sums = 166140e9a6d8a36f787a2bd77f8f44dd64874f12dd8359ff7c1f4f9acb86202e
	sha256sums = b3c8e5698704b868fccb0a2c5fa0ac32c2a206ae0e32c3d5066d753f68fe6507
	sha256sums = a164ebdc4d281352bf7ad1b179aae4aeb33f1191c444bed96cb8ab333c046f81
	sha256sums = d7639c564e4706f2e22d7f36ccedcee2a9dd2fb3ffc0c7b1f7d2b28e63dde522
	sha256sums = 5cb2475de410f5696072687af88e91461cdacd1bb636ac14a3b348e3383934f1
	sha256sums = a0b366985410fa569e8c8c6108c11fd29e6d59cbd06605b8a3eb5ae0504e2452
	sha256sums = 98b3d28cbd13bb575c602785f6b8cb0b66ea3128ab5a3a82fc1645822320c136
	sha256sums = 04a7176400907fd7db0d69116b99de49e582a6e176b3bfb36a03e50a4cb26a36

pkgname = ffmpeg-full-git
